/* Dark mode styles */
.dark-mode .goals-list {
  background-color: #222;
  color: #fff;
}

.dark-mode .goals-list h2 {
  color: #fff;
}

.dark-mode .goals-list li {
  background-color: #333;
  border-color: #444;
  color: #fff;
}

.dark-mode .goals-list li:hover {
  background-color: #444;
}

.dark-mode .goals-list li input[type="text"] {
  border-color: #777;
  background-color: #444;
  color: #fff;
}

.dark-mode .goals-list li button {
  color: #fff;
}

.dark-mode .goals-list li button:hover {
  color: #007bff;
}

.dark-mode .goals-list li button:last-child {
  color: #dc3545;
}

/* Light mode styles */
.goals-list {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, aqua, #6ec6e9);

}

.goals-list h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.goals-list ul {
  list-style: none;
  padding: 0;
}

.goals-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  transition: background-color 0.2s, transform 0.2s;
  animation: fadeInUp 0.3s ease-out;
}

.goals-list li:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.goals-list li input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.goals-list li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  margin-left: 10px;
  transition: color 0.2s;
}

.goals-list li button:hover {
  color: #007bff;
}

.goals-list li button:last-child {
  color: #dc3545;
}

@media (max-width: 480px) {
  .goals-list li {
    flex-direction: column;
    text-align: center;
  }

  .goals-list li button {
    margin-top: 5px;
    margin-left: 0;
  }
}
