/* Common styles */
header {
  display: flex;
  flex-direction: column;
  gap: .3em;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 0.5em;
  font-family: 'Arimo', sans-serif;
  font-size: large;
 
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  :root {
  
    --text-color: #000000;
    --accent-color: #6ec6e9;
    --text-shadow-accent: 2px rgba(254, 248, 248, 0.963);
  }

  header {

    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--text-shadow-accent);
  }

  .logoutBtn{
    display: block;
    margin: auto;
font-size: large;
background-color: #009fb7;
color: white;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {


  header {
 background-color: #000000;
    color: white;
    text-shadow: 2px 2px 4px var(--text-shadow-accent);
  }

  header button {
    background-color: var(--accent-color);
    color: var(--background);
  }
}
