/* Dark mode styles */
.dark-mode .timer {
  color: aquamarine;
  background-color: #333;
}

.dark-mode .timer-display {
  color: aqua;
}

.dark-mode .timer-controls button {
  background-color: #009fb7;
}

.dark-mode .timer-controls button:hover {
  background-color: #00687c;
}

/* Light mode styles */
.timer {
  display: inline-block;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-top: 20px;
}

.timer-display {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;
}

.timer-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.timer-controls {
  margin-top: 10px;
}

.timer-controls button {
  background-color: #009fb7;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 5px;
  cursor: pointer;
}

.timer-controls button:hover {
  background-color: #00687c;
}
