.workout-tracking {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px; /* Set a max width for better mobile layout */
  }
  
  .workout-tracking h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .workout-tracking form {
    display: flex;
    flex-direction: column;
  }
  
  .workout-tracking label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .workout-tracking input[type="text"],
  .workout-tracking input[type="number"],
  .workout-tracking textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .workout-tracking button {
    background-color: #009fb7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .workout-tracking button:hover {
    background-color: #00687c;
  }
  